.header{
	height: 70px;
    background-color: #272735 !important;
    color: white;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
	font-family: 'Poppins',sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 38px;
}
.body{
	background-color: white;
    height: 410px;
}
.modalfooter{
    background-color: white;
    height: 70px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    gap: 10px;
}
.save{
	--sds-c-button-neutral-color-background : #272735;
	--sds-c-button-neutral-color-background-hover: #272735;
	--sds-c-button-text-color: white;
	--sds-c-button-text-color-hover: white;
	--sds-c-button-neutral-color-background-active: #272735;
	--sds-c-button-text-color-active: white;
}
.savenew, .cancel{
	--sds-c-button-text-color: #272735;
	--sds-c-button-neutral-color-border: rgba(0, 0, 0, 0.5);
	--sds-c-button-text-color-hover: #272735;
	--sds-c-button-neutral-color-border-hover: rgba(0, 0, 0, 0.5);
	--sds-c-button-text-color-active: #272735;
	--sds-c-button-neutral-color-border-active: rgba(0, 0, 0, 0.5);
}
lightning-file-upload{
    --sds-c-button-text-color: #272735;
    --sds-c-button-text-color-hover: #272735;
    --sds-c-button-text-color-active: #272735;
}
.inputpage{
    display: flex;
    padding: 3%;
    gap: 2%;
}
.inputfield1, .inputfield2{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 9%;
}

/* .slds-modal__content {
    height: unset !important;
    max-height: unset !important;
}  */
/* .cuf-content {
padding:  0rem !important;
} */
.slds-p-around--medium {
padding: 0rem !important;
}
.modal-content { 
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
.slds-modal__header{
    background-color: transparent;
}
.popup{
    width: 101%;
    margin: 22% auto;
}
.background{
    display: none;
}
.modal-body{
    --slds-c-modal-radius-border : 18px !important;
}

@media (min-width: 700px) and (max-width: 1100px){
    .popup{
        width: 80% !important;
        margin: 30% auto !important;
    }
    .header, .modalfooter{
        height: 72px;
    }
    .body{
        height: 501px;
    }
}